{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="_mt-10 container">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <img src="{% static 'img_pokebola.png' %}" class="img-lateral">
        </div>
        <div class="col-12 col-md-6">
            <p>
                <h1 class="w-100 mb-0">
                    Bem vindo!
                </h1>
                Cadastre-se. É gratuito!
            </p>

            <form method="post" class="">
                {% csrf_token %}

                <input type="text" name="username" class="form-control mb-2 rounded-4 border-primary" placeholder="&#xf007; Usuário" style="font-family:Roboto, FontAwesome">
                <input type="email" name="email" class="form-control mb-2 rounded-4 border-primary" placeholder="&#xf0e0; E-mail" style="font-family:Roboto, FontAwesome">
                <input type="password" name="password1" class="form-control mb-2 rounded-4 border-primary" placeholder="&#xf023; Senha" style="font-family:Roboto, FontAwesome">
                <input type="password" name="" class="form-control mb-2 rounded-4 border-primary" placeholder="&#xf023; Repetir senha" style="font-family:Roboto, FontAwesome">

                <button class="btn btn-primary align-self-center d-block mx-auto my-3 btn-lg rounded-4" type="submit">
                    Cadastrar
                </button>
            </form>
            <hr class="w-50"/>
        </div>
    </div>
</div>
{% endblock %}
