{% extends 'base.html' %}

{% block title %}Anitrends{% endblock %}

{% load static %}

{% block content %}
<div class="container"><br>
    <h1 class="bold">Mais Visto da Estação</h1>
        <div class="row">
            <div class="col bg-cinza-escuro rounded-4 text-center top1">
                <canvas id="myChart" width="400" height="350"></canvas>
            </div>
                <div class="col rounded-4 alinha">
                 <h2 class=" p-4 aumenta bold">Legenda</h2>
                        <p><i class="fa-solid fa-circle fa-2xl pinkcor"></i>  Spy x Family</p>
                        <p><i class="fa-solid fa-circle fa-2xl oranjcor"></i>  Gaikotsu Kishi-sama, Tadaima Isekai e Odekakechuu </p>
                        <p><i class="fa-solid fa-circle fa-2xl yellowcor"></i>  Kaguya-sama wa Kokurasetai: Ultra Romantic</p>
                        <p><i class="fa-solid fa-circle fa-2xl turqcor"></i>  Aharen-san wa Hakarenai</p>
                        <p><i class="fa-solid fa-circle fa-2xl blue"></i> Tate no Yuusha no Nariagari Season 2</p>
                        <p><i class="fa-solid fa-circle fa-2xl purpcor"></i> Tomodachi Game</p>
                        <p><i class="fa-solid fa-circle fa-2xl graycor"></i> Agotome Game Sekai wa Mob ni Kibishii Sekai desuo</p>
                     </div>
                </div>
            </div>
    </div>
    <br>
    <div class="bg-cinza-escuro p-5 ">
    <div class="container-md">
        <div class="row">
            <div class="col text-center">
                <h1 class="h31">Nuvem de Palavra</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container"><br><br>
        <h1 class="bold">Ranking de Visualização</h1>
        <div class="row">
            
            <div class="col bg-cinza-escuro rounded-4  top1">
                <br>
    
                <h2>Sempre no topo</h2>
                <div class="parag">
                <p><aumenta>1 °</aumenta> Fullmetal Alchemist: Brotherhood</p>
                <p><aumenta>2 °</aumenta> Gintama°</p>
                <p><aumenta>3 °</aumenta> Steins;Gate</p>
                <p><aumenta>4 °</aumenta> Shingeki no Kyojin Season 3 Part 2</p>
                <p><aumenta>5 °</aumenta> Gintama'</p>
                <p><aumenta>6 °</aumenta> Gintama: The Final </p>
                <p><aumenta>7 °</aumenta> Hunter x Hunter (2011)</p>
                <p><aumenta>8 °</aumenta> Fruits Basket: The Final </p>
                <p><aumenta>9 °</aumenta> Gintama': Enchousen </p>
                <p><aumenta>10 °</aumenta> Ginga Eiyuu Densetsu </p>
                </div>
            
            </div>
            
            <div class="col bg-cinza-escuro rounded-4  top">
                <br>
                <h2>Lista Animes Primavera 2022</h2>
                <div class="parag">
                    <p><aumenta>- </aumenta> Spy x Family</p>
                    <p><aumenta>- </aumenta> Tate no Yuusha no Nariagari Season 2</p>
                    <p><aumenta>- </aumenta> Kaguya-sama wa Kokurasetai: Ultra Romantic</p>
                    <p><aumenta>- </aumenta> Kawaii dake ja Nai Shikimori-san</p>
                    <p><aumenta>- </aumenta> Komi-san wa, Comyushou desu. 2nd Season</p>
                    <p><aumenta>- </aumenta> Aharen-san wa Hakarenai</p>
                    <p><aumenta>- </aumenta> Summertime Render</p>
                    <p><aumenta>- </aumenta> Tomodachi Game</p>
                    <p><aumenta>- </aumenta> Gaikotsu Kishi-sama, Tadaima Isekai e Odekakechuu</p>
                    <p><aumenta>- </aumenta> Yuusha, Yamemasu</p>
                   
            </div>
    
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'js/js.js' %}"></script>
        <script>
        const myChart = new Chart(
        document.getElementById('myChart'),
        config
        );
        </script>
        {% endblock %}
