{% extends 'base.html' %}

{% block title %}Anitrends{% endblock %}

{% load static %}

{% block content %}
<div class="container"><br>
    <h1 class="bold">
        Mais vistos da semana
    </h1>
    <div>
        <div class="col bg-cinza-escuro rounded-4 text-center top1 p-4" style="height: 450px">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
</div>
<br>
<div class="w-100 bg-white">
    <div class="container">
        <h1 class="bold">
            Nuvem de palavras
        </h1>
        <img src="{% static 'nuvem_de_palavras_claro.jpeg' %}" class="img-fluid">
    </div>
</div>
<br>

<div class="container"><br><br>
    <h1 class="bold">Ranking de Visualização</h1>
    <div class="row">

        <div class="col bg-cinza-escuro rounded-4 top1 p-4">
            <h2>
                Sempre no topo
            </h2>
            <ol class="parag mx-3">
                {% for anime in animes %}
                    <li>{{ anime }}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="col bg-cinza-escuro rounded-4 top p-4">
            <h2>
                Novidades da semana
            </h2>
            <ol class="parag mx-3">
                {% for anime in animes %}
                    <li>{{ anime }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/js.js' %}"></script>

<script>
    console.log(JSON.parse("{{ chart_data|escapejs }}"))

    const chartConfig = {
        type: 'bar',
        data: JSON.parse("{{ chart_data|escapejs }}"),
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                },
            }
        }
    }

    const myChart = new Chart(document.getElementById('myChart'), chartConfig);
</script>
{% endblock %}
