{% extends 'base.html' %}

{% block title %}Anitrends{% endblock %}

{% block content %}
<div class="container-lg">
    <!-- Content here -->
  
    <h3>Perguntas Frequentes</h3>
    
    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Sobre Nosso Sistema
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>O que nosso produto oferece?</strong> Um sistema web que permite a visualização de dados ( ex. a mudar gênero, tema, temporada) sobre tendências de animes.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Sobre Valor ao Cliente
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>O que oferecemos aos nossos clientes?</strong> Visualização de dados pertinentes a caracterização de Anime como sendo uma tendência, além de ajudar o lojista em sua análise para aquisição de possíveis produtos no mercado, tendo como embasamento dados relevantes de usuários .
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Sobre Como Usar Site
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>A estrutura de navegação do site</p><br>
             <h4><strong>Mapa do site</strong></h4>
              <br>
              <h5>Menu lojista </h5> 
              <br>  
              <h5>Site </h5>
              <br>
              <h5>Rodapé</h5>
                <p>Sobre</p>
              <ul>
                  <li>Sobre Nós</li>
                  <li>Porque” AniTrends”</li>
                  <li>Benefícios</li>
                  <li>Mapa do Site</li>
              </ul>
               <p>Links úteis</p>
               <ul>
                  <li>Fale conosco/Sugestões</li>
                  <li>Perguntas frequentes</li>
                  <li>Benefícios</li>
                  <li>Política de Uso/Site</li>
               </ul>
               <p>Legal</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Fale Conosco
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Nosso Formulário:</strong> É através desse canal que esclarecemos dúvidas, recebemos críticas ou solicitações relacionadas ao sistema.
                Preencha todos campos, clique em enviar e responderemos em até 24h (exemplo).
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Preencher Formulário
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Fale Conosco</strong>
                    <p></p>
                    <form action="/action_page.php" class="was-validated">
                      <div class="mb-3 mt-3">
                        <label for="uname" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="uname" placeholder="Digite seu Nome" name="uname" required>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor preencha este campo.</div>
                      </div>
                      <div class="mb-3">
                        <label for="pwd" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="mail" placeholder="Digite seu email" name="mail" required>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor preencha este campo</div>
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comentário:</label>
                        <textarea class="form-control" rows="5" id="comment" placeholder="Como podemos ajudar..."  name="uname" required></textarea>
                        <!--<input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>-->
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor preencha este campo.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Enviar </button>
                    </form>
                </div>
              </div>
          </div>
        </div>
      <br><br>
  
{% endblock %}